.notes-box{
    @include box;
    background-color: map-get($paletita, light_yellow);
    box-shadow: 0 10px 20px rgba(240, 168, 208, 0.2);

    article{
        line-height: 2rem;
        h3{
            padding: 1.5rem 0 0.5rem 0;
        }
        p{
            padding: 0 2rem 1rem 3rem;
        }
    }    
}

.imp{
    color: #E97777;
    text-shadow: 1px 1px 4px rgba(240, 168, 208, 0.2)
}

.familist{
    width: 100%;

    ul{
        @include grid(repeat(4,1fr),none,2rem);
        margin: 1rem;
        justify-items: center;
        
        li a{
            font-family: map-get($fonts,navbar);
            text-transform: uppercase;
            font-weight: bold;
            color: #FBBA72;

            &:hover{
                color: $shadow;
            }
        }
    }
    
}

.family_card{
    padding-top: 2rem;
    @include grid(repeat(2, 1fr),none,2.5rem);
}

%base-cartita{
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 5px 10px #C1BAA1;
    justify-content: center;
    height: 100%;
}

.especial_1{
    @extend %base-cartita;
    background: linear-gradient(180deg, #FFF3B0, white);
}

.especial_2{
    @extend %base-cartita;
    background: linear-gradient(180deg, #FFD1DC, white);
}

.especial_3{
    @extend %base-cartita;
    background: linear-gradient(180deg, #C8B8A5, white);
}

.especial_4{
    @extend %base-cartita;
    background: linear-gradient(180deg, #C7EFCF, white);
}

.especial_5{
    @extend %base-cartita;
    background: linear-gradient(180deg, #B3C2BF, white);
}

.especial_6{
    @extend %base-cartita;
    background: linear-gradient(180deg, #F7C59F, white);
}

.especial_7{
    @extend %base-cartita;
    background: linear-gradient(180deg, #FBC8D9, white);
}

.title{
        padding-top: 2rem;
}