@mixin flex($direction, $wrap, $justify, $align, $gap){
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
};

@mixin grid($column, $row, $gap){
    display: grid;
    grid-template-columns: $column;
    grid-template-rows: $row;
    gap: $gap;
}

@mixin box{
    @include grid(1fr auto,none,none);
    align-items: center;
    padding: 3rem;
    margin: 2rem;
    border-radius: 3rem;
}

@mixin cardperf{
    @include grid(repeat(4,1fr),none,2rem);
    align-self: stretch;
    padding: 1rem 0%;
    justify-self: center;
}