%base-portada{
    background-position: center center;
    background-size: cover;
    width: 100%,
}

.index{
    @extend %base-portada;
    background-image: map-get($portada, index);
    height: 100vh,
}

.family{
    @extend %base-portada;
    background-image: map-get($portada, familia);
    height: 40vh;
}

.primavera{
    @extend %base-portada;
    background-image: map-get($portada, privamera);
    height: 40vh,
}

.otoño{
    @extend %base-portada;
    background-image: map-get($portada, otoño);
    height: 40vh
}

.tipos{
    @extend %base-portada;
    background-image: map-get($portada, tipos);
    height: 40vh
}

.tips{
    @extend %base-portada;
    background-image: map-get($portada, tips);
    height: 40vh
}