*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    font-family: map-get($fonts, main);
    color: map-get($paletita , general);
}

main{
    padding: 1.875rem;
}

img, video{
    border-radius: 2rem;
}